@import "./utils/mixin";

.section1__title2 {
  @include title-h2();
}
.section1__text {
  font-size: 20px;
  line-height: 1.09;
}
.section1__bg-img-1 {
  padding: 15px 15px;

  background: #c4c4c4;
  background-position: center;
  background-size: cover;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-hero-mobile.jpg);
  @include retina(2, 192dpi, "../images/bg-hero-mobile@2x.jpg", 480px);
}
.section1__title {
  margin-bottom: 30px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 26px;
  line-height: 1.62;
}

@media screen and (min-width: 768px) {
  .section1 {
    margin: 0 auto;
  }
  .section1__bg-img-1 {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bg-hero-tablet.jpg);
    @include retina(2, 192dpi, "../images/bg-hero-tablet@2x.jpg", 768px);
  }
}

@media screen and (min-width: 1200px) {
  .section1 {
    padding: 200px 0;
    max-width: 1600px;
  }

  .section1__title {
    font-size: 44px;
    line-height: 1.55;
  }

  .section1__bg-img-1 {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bg-hero-desk.jpg);
  }
}
