@mixin title-h2(
  $jc: center,
  $mb: 50px,
  $fs: 36px,
  $fw: 700,
  $l-space: 0.03em,
  $t-align: center,
  $color: green
) {
  justify-content: $jc;
  margin-bottom: $mb;
  font-size: $fs;
  font-weight: $fw;

  letter-spacing: $l-space;
  text-align: $t-align;
  color: $color;
}

@mixin retina(
  $ratio: 2,
  $dpi: 192dpi,
  $image: "../images/bg-hero-mobile.jpg",
  $width: 480px
) {
  @media screen and (min-device-pixel-ratio: $ratio) and (min-width: $width),
    screen and (min-resolution: $dpi) and (min-width: $width),
    screen and (min-resolution: 2dppx) and (min-width: $width) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url($image);
  }
}
