<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident odit, facere iste modi
        eaque distinctio sed dolores eligendi cum aut, libero illum magni rerum corporis ratione vel
        dolor! Libero animi eligendi pariatur quos officiis similique veniam a voluptatibus labore
        hic magni, optio ad illo, assumenda doloremque corporis sint cupiditate dolorem.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident odit, facere iste modi
        eaque distinctio sed dolores eligendi cum aut, libero illum magni rerum corporis ratione vel
        dolor! Libero animi eligendi pariatur quos officiis similique veniam a voluptatibus labore
        hic magni, optio ad illo, assumenda doloremque corporis sint cupiditate dolorem.
      </p>
    </div>
  </body>
</html>
