<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
<section>
<div>
    <h2>Третья моя тестовая секция</h2>
<p>Постановка целей является первым шагом на пути превращения мечты в реальность.
Тони Роббинс</p>
<p>Чтобы дойти до цели, надо идти.
Оноре де Бальзак</p>
<p>Никогда, никогда не позволяйте другим убедить вас, что что-то сложно или невозможно.
Дуглас Бадлер</p>
</div>
</section>
</body>
</html>
